body{
    background-color: rgb(97, 67, 140)
  }
  #data {
    color: white;
    width: 390px;
    font-size: 40px;
    font-family: Calibri,sans-serif;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 400px;
    padding: 10px;
  }
  #logo {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
  }